
@{
    ViewBag.Title = "Estatus RMA";
}

<style>
    /*#table-scroll {
        height: 300px;
        overflow-y: auto;
        margin-top: 20px;
        width: 1200px;
    }*/

    .rowVerde {
        color: white;
        background-color: #008000;
        border-color: #c3e6cb;
        padding: 10px;
        border: ridge;
        /*font-size: 17px;*/
    }

    .rowAmarillo {
        color: white;
        background-color: #ffd11a;
        border-color: #ffeeba;
        padding: 10px;
        border: ridge;
        /*font-size: 17px;*/
    }

    .rowRojo {
        color: white;
        background-color: #ff0000;
        border-color: #f5c6cb;
        padding: 10px;
        border: ridge;
        /*font-size: 17px;*/
    }

    .rowInfo {
        color: #000000;
        background-color: white;
        border-color: #bee5eb;
        padding: 10px;
        border: ridge;
        /*font-size: 17px;*/
    }

    .rowMorado {
        color: #0c5460;
        background-color: #bf80ff;
        border-color: #bee5eb;
        padding: 10px;
        border: ridge;
        /*font-size: 17px;*/
    }

    .alingCenter {
        text-align: center;
    }
</style>
<style id="compiled-css" type="text/css">
    /* Fix table head */
    .tableFixHead {
        overflow-y: auto;
        height: 300px;
    }

        .tableFixHead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }

    th, td {
        padding: 8px 16px;
    }


    th {
        background: #1AB394;
        color: #ffffff;
        font-weight: bold;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">

    <div id="tblConsulta_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col col-xs-3 col col-md-3 col col-lg-3">
                    <input id="txtFiltroSurtir" class="form-control" type="search" placeholder="Search Order..">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tableFixHead table-responsive m-t">
                        <table id="tblConsulta_Surtido" class="table table-striped table-bordered table-hover">
                            <thead class="bg-primary">
                                <tr role="row">

                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;">Orden</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 110px;">Fecha Creación RMA</th>
                                    <th class="text-center sorting" tabindex="0" aria-controls="tblServicios" rowspan="1" colspan="1" style="width: 118px;">Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;">
                                        <a href="/CallCenter/ConsultaDetalle?order=101168210" title="Click para ver el detalle de la orden" class="btn btn-link">101168210</a>
                                    </td>
                                    <td style="text-align:center">18 Mar 2021 16:38:00</td>
                                    <td class="rowRojo" style="text-align:center">En Aprobación</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <a href="/CallCenter/ConsultaDetalle?order=101168210" title="Click para ver el detalle de la orden" class="btn btn-link">101168210</a>
                                    </td>
                                    <td style="text-align:center">18 Mar 2021 16:38:00</td>
                                    <td class="rowRojo" style="text-align:center">En Aprobación</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <a href="/CallCenter/ConsultaDetalle?order=101168210" title="Click para ver el detalle de la orden" class="btn btn-link">101168210</a>
                                    </td>
                                    <td style="text-align:center">18 Mar 2021 16:38:00</td>
                                    <td class="rowRojo" style="text-align:center">En Aprobación</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <a href="/CallCenter/ConsultaDetalle?order=101168210" title="Click para ver el detalle de la orden" class="btn btn-link">101168210</a>
                                    </td>
                                    <td style="text-align:center">18 Mar 2021 16:38:00</td>
                                    <td class="rowRojo" style="text-align:center">En Aprobación</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />

        </div>
    </div>
</div>

